#werewolfTable{
    background-color: black;
    margin: 10px;
    padding:10px;
    text-align: left;
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 0px 0px;
}

.photo{
    height: 360px;
    width: 360px;
    object-fit: cover;
}