.gameChoice{
    background-image: url(../../images/felt.png);
    margin: 10px;
    padding:10px;
    color: white;
    
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
}
.gameChoice h2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}